@import "_variables";
@import "_mixins";

a.btn,.btn {
  position: relative;
  outline: none;
  border: none;
  border-radius: 4px;
  font-size: 1em;
  color: white;
  padding: 10px 24px;
  text-transform: uppercase;
  transition: $button-background-color-transition;
  display: inline-block;
  text-decoration: none;
  line-height: normal;
  &.btn-sm {
    font-size: 0.75em;
    padding: 6px 11px;
    border-radius: 1px;
    &.btn-outlined {
      padding: 5px 10px;
    }
  }
  &.btn-md {
    border-radius: 2px;
    font-size: 0.9em;
    padding: 8px 14px;
    &.btn-outlined {
      padding: 7px 13px;
    }
  }

  &.btn-lg {
    border-radius: 4px;
    font-size: 1.1em;
    padding: 14px 22px;
    &.btn-outlined {
      padding: 13px 22px;
    }
  }

  &:hover {
    cursor: pointer;
    outline: none;
  }
  &:hover:disabled {
    cursor: default;
  }
}

.btn-full {
  width: 100%;
  text-align: center;
}

.btn-full--left {
  width: 100%;
  text-align: left;
}

a.btn-default,.btn-default {
  &:not(.btn-outlined) {
    background-color: lighten($lighter-grey, 1);
    color: $dark-grey;
    &:hover {
      background-color: darken($lighter-grey, 2);
    }
  }
  &.btn-outlined {
    border: 1px solid $grey;
    color: $dark-grey;
    &:disabled {
      border: $lighter-grey;
      color: $grey;
    }
    &:hover {
      border: 1px solid $dark-grey;
    }
  }
}

.btn-muted {
  background-color: transparent;
  color: $dark-grey;
  &:hover {
    background-color: darken($lighter-grey, 5);
  }
}

.btn-outlined {
  background-color: transparent;
}

a.btn-primary,.btn-primary {
  &:not(.btn-outlined) {
    background-color: $primary-accent;
    &:disabled {
      background-color: lighten($primary-accent, 25);
    }
    &:hover {
      background-color: lighten($primary-accent, 10);
    }
  }
  &.btn-outlined {
    border: 1px solid $primary-accent;
    color: $primary-accent;
    &:disabled {
      border: 1px solid lighten($primary-accent, 25);
      color: lighten($primary-accent, 25);
    }
    &:hover {
      border: 1px solid $primary-accent;
      background-color: $primary-accent;
      color: white;
    }
  }
}

.btn-clear {
  color: $dark-grey;
  &:hover {
    color: $darkest-grey;
    background-color: $lightest-grey;
  }
}

.btn-full {
  width: 100%;
}

.btn-spaced {
  margin-bottom: 12px;
}
