@import '../../styles/_variables';
@import '../../styles/_mixins';

.compose-page {
  & .compose__title-input {
    width: 100%;
    padding: 8px 0;
    border: none;
    font-size: 2em;
    margin-bottom: 8px;
  }
  & .compose__body-input {
    width: 100%;
    border: none;
    height: 400px;
    font-size: 1.1em;
  }
  & .compose__save-button-container {
    text-align: right;
  }
}
