@import '../../styles/_variables';
@import '../../styles/_mixins';

.create-entry-link {
  display: block;
  color: darken($grey, 10);
  font-size: 1.2em;
  padding: 24px 0;
  text-decoration: none;
  &:hover {
    color: darken($grey, 20);
    text-decoration: none;
  }
}
